<div class="btn-group" role="group" aria-label="...">
    <button id="select" style="border-radius: 0" type="button" class="btn btn-default">全选</button>
    <button id="reverse" type="button" class="btn btn-default">反选</button>
    <button id="cancel" type="button" class="btn btn-default">取消</button>
    <button id="editModel" type="button" class="btn btn-default">进入编辑模式</button>
    <a id="add" href="#" class="btn btn-default">添加</a>
    <button id="del" type="button" class="btn btn-default">删除</button>
    <button id="refresh" type="button" class="btn btn-default">刷新</button>
    <button id="save" style="border-radius: 0" type="button" class="btn btn-default">保存</button>
</div>