    <div style="position: relative" class="search-list clearfix">
        <div class="search-btn">
            <input type="button" class="btn btn-default" value="Search" style="width: 100px;position: absolute;right: 1px;bottom: 0">
        </div>
        <div style="padding: 0;width: 590px;margin: 0 auto" class="search-item">
            <div class="add-item"  style="width: 38px;float: left;height: 34px; cursor: pointer">
                <a  style="cursor: pointer"  class="no-radius form-control"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle no-radius" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"><span class="active-item"></span><span style="margin-left: 10px" class="caret"></span></button>
                    <ul class="dropdown-menu down-list">
                    </ul>
                </div>
                <!-- 输入框 -->
{#                <input type="text" class="form-control no-radius enter-element" aria-label="...">#}
            </div>
        </div>
    </div>